* {
    margin: 0;
    padding: 0;
}

:root {
    --blue-color: rgb(189, 251, 255);
    --nav-gray: rgb(79, 84, 90);
}

/* Nar Bar */


nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-gray);
}

ul {
    display: flex;
    list-style: none;
}

#name {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 10px;
    background-color: var(--blue-color);
    font-size: 30px;
    margin: 10px 0px 10px 0px;
}


#nav-links > ul > li > a {
    color: var(--blue-color);
    font-size: 20px;
    text-decoration: none;
    border-bottom: 3px solid var(--blue-color);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}


h1 {
    color: var(--nav-gray)
}

#nav-links {
    margin-right: 60px;
    display: flex;
    align-items: center;
}

/* Image section */

img {
    max-height: 300px;
    width: 100%;
}

#subtitle {
    position: relative;
    top: -50px;
    left: 95%;
}