* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-color: rgb(189, 251, 255);
    --nav-gray: rgb(79, 84, 90);
}

/* Nar Bar */


nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-gray);
}

ul {
    display: flex;
    list-style: none;
}

#titlename {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 10px;
    background-color: var(--blue-color);
    font-size: 30px;
    margin: 10px 0px 10px 0px;
}


#nav-links > ul > li > a {
    color: var(--blue-color);
    font-size: 20px;
    text-decoration: none;
    border-bottom: 3px solid var(--blue-color);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}


h1 {
    color: var(--nav-gray)
}

#nav-links {
    margin-right: 60px;
    display: flex;
    align-items: center;
}

/* Image section */

img {
    max-height: 300px;
    width: 100%;
    border: 5px solid var(--blue-color);
}

#subtitle {
    display: flex;
    margin: 40px;
    padding: 10px 20px 10px 20px;
    background-color: var(--blue-color);
    color: var(--nav-gray)
}

#intro-image {
    display: flex;
    background-image: url(/CONN-VIRT-FSF-PT-05-2022-U-LOLC/02-Advanced-CSS/02-Challenge/Assets/pexels-roman-odintsov-4871011.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    justify-content: flex-end;
    align-items: flex-end;
}


/* __________________________________________________ */


#main-content > article {
    display: flex;  
    margin-top: 25px;
    margin-bottom: 25px;;
}

.name > h1 {
    width: 200px;
    margin-left: 20px;
    text-align: center;
    font-size: 30px;
}

.name {
    border-right: 3px solid var(--nav-gray);
}


p {
    margin-left: 20px;
   
}

#p-spacing { 
    margin-top: 10px;
}


/* Images */

#img-container {
    margin-left: 10px;
    margin-right: 10px;
}

#main-project{ 
    margin: 10px;
}

#sideprojects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}

.sideprojects {
    display: flex;
    width: 50%;
}

.sideprojects > img {
    margin: 10px;
}

.container {
    border: 5px solid var(--blue-color);
    margin: 10px;
}

.main-container {
    margin: 0;
    border: 5px solid var(--blue-color);
}

/* Image hover effect */

.img-wrapper {
    position: relative;
    overflow: hidden;
    /* margin: 40px 20px; */
}

.img-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.img-wrapper > .container, 
.img-wrapper > .main-container {
    position: absolute;
    inset: 0;
    background-color: rgba(59, 59, 59, 0.829);

}

.img-wrapper > .container, 
.img-wrapper > .main-container {
    opacity: 0;
}

.img-wrapper:hover > .container,
.img-wrapper:hover > .main-container {
    opacity: 1;
}


.img-wrapper > .container,
.img-wrapper:hover > .main-container,
.img-wrapper > img {
    transition: ease-in-out 300ms;
}